// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
.profile {
    margin: 50px 0;
}
.profile__notes {
    margin-left: 15px;
}
.profile__note {
    position: relative;
    margin: 30px 15px;
}
.profile__notes-all *{
    display: inline-block;
    padding: 20px 0;
}
.profile__note-answer {
    position: relative;
    margin: 10px 0 0 50px;
}
.profile__name {
    font-size: 28px;
}
.profile__title {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
}
.profile__text {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
	margin: 10px 0px;
}
.profile__form-block {
    display: none;
}
.profile__form.active {
    display: block;
}
.profile__form * {
    display: block;
    width: 320px;
}
.profile__form-btn {
    border: none;
}
.profile__info {
	display: flex;
	flex-direction: column;
}
.profile__text {
	margin-left: 30px;
	max-width: 320px;
}
.profile__a, .profile__a:hover {
    text-decoration: none;
}
.profile__note-container {
    position: relative;
}
.form__title {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
	font-weight: 600;
}
.form__delete-btn {
    font-size: 18px;
    color: #ff5d1a;
    background-color: transparent;
    border: none;
}
.form__delete {
    position: absolute;
    right: 10px;
    top: 10px;
}
.profile__book-a {
	font-weight: 600;
    color: rgba($color: #000000, $alpha: 1);
	transition: all 0.5s ease 0s;
}
.profile__book-a:hover {
	color: #000000;
}
.profile {
	align-content: start;
}
a {
	color: darkcyan;
	text-decoration: none;
}
.library__button {
	font-size: 18px;
	background-color: white;
	border: 1px solid black;
	border-radius: 15px;
	transition: all 0.5s ease 0s;
}
.library__button:hover {
	background-color: cyan;
}

html {
    font-size: 16px;
}
.media-body .author {
    display: inline-block;
    font-size: 1rem;
    color: #fff;
    font-weight: 700;
    margin-left: 15px;

}
.media-body .metadata {
    display: block;
    color: #fff;
    font-size: .8125rem;
}
.title-comments {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: rgba(0,0,0,.87);
    margin-bottom: 1rem;
    padding-bottom: .25rem;
    border-bottom: 1px solid rgba(34,36,38,.15);
}

.media-left-img {
    display: inline-block;
    width: 47px;
    border-radius: 15px;
}

.media {
    position: relative;
    margin-top:0;
    padding: 0px 0px 20px 0px;
}
.media-top {
    border: 2px #3495e3 solid;
    border-radius: 20px;
}

.media-list:first-child {
    margin-top: 30px;
}

.media-list {
    padding-left: 10px !important;
}

.media-text {
    margin-left: 15px;
}

.panel-heading {
    padding: 10px 15px;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #3495e3;
    border-color: #3495e3;
    border-radius: 15px;
}
